{
  "presets": ["next/babel"],
  "plugins": [["styled-components", { "ssr": true }]],
  "env": {
    "production": {
      "plugins": [
        ["styled-components", { "ssr": true, "displayName": false }],
        ["react-remove-properties", {"properties": ["data-testid"]}]
      ]
    }
  }
}
