.nav {
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.063rem;
    margin: 0 auto;
    background: var(--theme-border-subtlest-quaternary);
  }

  & > div {
    position: relative;
  }
}
