.video, .image {
  --video-scale: 1.25;
  transform: scale(var(--video-scale));

  @media (min-height: 800px) and (min-width: 1020px) {
    --video-scale: 1.5;
  }
  @media (min-height: 800px) and (min-width: 1240px) {
    --video-scale: 1.8;
  }
  @media (min-height: 1000px) and (min-width: 1668px) {
    --video-scale: 2;
  }
}

.image {
  @media (max-width: 656px){
    --video-scale: 1.75;
  }
}
.video {
  @media (max-width: 656px){
    --video-scale: 1.2;
  }
}
