.heading {
  text-align: center;
  padding: 0 4.375rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  color: #ffffff;
}

.description {
  margin-top: 0.25rem;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #cfd6e6;
}

.content {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem 2.5rem;
}

.options {
  margin-top: 2rem;
}

.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.custom {
  width: 10rem;
  appearance: none;
}

.footer {
  width: 100%;
  padding: 1.25rem 0;
  border-top: 1px solid #a8b3cf40;
}

.done {
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  font-weight: 700;
  font-size: 0.9375rem;
  color: #0e1217;
  background-color: #ffffff;
}
