.feed {
  grid-template-columns: 100%;
}
.container {
  max-width: 100%;
}
.cards {
  max-width: 100%;
}

.feedRow {
  padding-bottom: var(--feed-gap);
}

.cards .feedRow {
  grid-template-columns: repeat(var(--num-cards), 1fr);
  grid-gap: var(--feed-gap);

  @screen tablet {
    grid-auto-rows: var(--card-height);
  }
}
