.legal {
  & a {
    display: inline-block;
    text-decoration: underline;
    color: inherit;
    @supports (display: contents) {
      display: contents;
    }
  }
}

.pageContainer {
  max-width: $pageMaxWidth;
  @screen laptopL {
    width: $pageMaxWidth;
  }
}

.pageWidgets {
  max-width: $pageMaxWidth;
}

.feedPage {
  &.notReady {
    & > * {
      visibility: hidden;
    }
  }
}

.activeTabIndicator {
  border-radius: 0.063rem;
}
