version: 2.1

orbs:
  common: dailydotdev/common@0.0.14

jobs:
  check-steps:
    type: no-op

  setup-node:
    executor:
      name: common/node
      tag: "22.16"
    steps:
      - common/setup-node

  test-package:
    parameters:
      pkg:
        type: string
    executor:
      name: common/node
      tag: "22.16"
    parallelism: 1
    steps:
      - common/setup-node
      - run:
          name: Test
          command: |
            TEST=$(./node_modules/.bin/jest --listTests)
            echo $TEST | circleci tests run --command="xargs ./node_modules/.bin/jest --ci --runInBand --reporters=default --reporters=jest-junit --" --split-by=timings
          environment:
            JEST_JUNIT_OUTPUT_DIR: ../../test-results
            JEST_JUNIT_ADD_FILE_ATTRIBUTE: "true"
          working_directory: packages/<< parameters.pkg >>
      - store_test_results:
          path: ./test-results

  lint-package:
    parameters:
      pkg:
        type: string
    executor:
      name: common/node
      tag: "22.16"
    resource_class: large
    steps:
      - common/setup-node
      - run:
          name: Lint
          working_directory: packages/<< parameters.pkg >>
          command: |
            pnpm run lint
workflows:
  build:
    jobs:
      - setup-node
      - lint-package:
          requires:
            - setup-node
          matrix:
            parameters:
              pkg: ["extension", "webapp", "shared"]

      - test-package:
          requires:
            - setup-node
          matrix:
            parameters:
              pkg: ["extension", "webapp", "shared"]

      - check-steps:
          requires:
            - lint-package
            - test-package
