version: 2.1

orbs:
  common: dailydotdev/common@0.0.14

jobs:
  setup-node:
    executor:
      name: common/node
      tag: "22.16"
    steps:
      - common/setup-node
  # install_deps:
  #   docker:
  #     - image: cimg/node:22.11
  #   steps:
  #     - checkout
  #     - run:
  #         name: Install pnpm
  #         command: npm i --prefix=$HOME/.local -g pnpm@9.14.4
  #     - restore_cache:
  #         keys:
  #           - deps-v7-{{ checksum "pnpm-lock.yaml" }}
  #           - deps-v7-{{ .Branch }}
  #     - run:
  #         name: Install dependencies
  #         command: pnpm install
  #     - save_cache:
  #         key: deps-v7-{{ checksum "pnpm-lock.yaml" }}
  #         paths:
  #           - ./node_modules
  #           - ./packages/eslint-config/node_modules
  #           - ./packages/eslint-rules/node_modules
  #           - ./packages/prettier-config/node_modules
  #           - ./packages/shared/node_modules
  #           - ./packages/webapp/node_modules
  #           - ./packages/extension/node_modules
  test_extension:
    executor:
      name: common/node
      tag: "22.16"
    parallelism: 1
    steps:
      - common/setup-node
      - run:
          name: Test
          command: |
            npm run pretest
            TEST=$(./node_modules/.bin/jest --listTests)
            echo $TEST | circleci tests run --command="xargs ./node_modules/.bin/jest --ci --runInBand --reporters=default --reporters=jest-junit --" --split-by=timings
          environment:
            JEST_JUNIT_OUTPUT_DIR: ../../test-results
            JEST_JUNIT_ADD_FILE_ATTRIBUTE: "true"
          working_directory: packages/extension
      - store_test_results:
          path: ./test-results
  test_webapp:
    executor:
      name: common/node
      tag: "22.16"
    parallelism: 1
    steps:
      - common/setup-node
      - run:
          name: Test
          command: |
            npm run pretest
            TEST=$(./node_modules/.bin/jest --listTests)
            echo $TEST | circleci tests run --command="xargs ./node_modules/.bin/jest --ci --runInBand --reporters=default --reporters=jest-junit --" --split-by=timings
          environment:
            JEST_JUNIT_OUTPUT_DIR: ../../test-results
            JEST_JUNIT_ADD_FILE_ATTRIBUTE: "true"
          working_directory: packages/webapp
      - store_test_results:
          path: ./test-results
  lint_shared:
    executor:
      name: common/node
      tag: "22.16"
    resource_class: large
    steps:
      - common/setup-node
      - run:
          name: Lint
          command: npm run pretest
          working_directory: packages/shared
  test_shared:
    executor:
      name: common/node
      tag: "22.16"
    parallelism: 1
    steps:
      - common/setup-node
      - run:
          name: Test
          command: |
            TEST=$(./node_modules/.bin/jest --listTests)
            echo $TEST | circleci tests run --command="xargs ./node_modules/.bin/jest --ci --runInBand --reporters=default --reporters=jest-junit --" --split-by=timings
          environment:
            JEST_JUNIT_OUTPUT_DIR: ../../test-results
            JEST_JUNIT_ADD_FILE_ATTRIBUTE: "true"
          working_directory: packages/shared
      - store_test_results:
          path: ./test-results
workflows:
  build:
    jobs:
      - setup-node
      - test_extension:
          requires:
            - setup-node
      - test_webapp:
          requires:
            - setup-node
      - lint_shared:
          requires:
            - setup-node
      - test_shared:
          requires:
            - setup-node
