version: 2.1

commands:
  create_concatenated_package_lock:
    description: Concatenate all package-lock.json files recognized by lerna.js into single file. File is used as checksum source for part of caching key.
    parameters:
      filename:
        type: string
    steps:
      - run:
          name: Combine package-lock.json files to single file
          command: npx lerna la -a | awk -F packages '{printf "\"packages%s/package-lock.json\" ", $2}' | xargs cat > << parameters.filename >> 2>/dev/null

jobs:
  build:
    docker:
      - image: cimg/node:14.16.0
    steps:
      - checkout
      - create_concatenated_package_lock:
          filename: combined-package-lock.txt
      - restore_cache:
          keys:
            - deps-v1-{{ .Branch }}-{{ checksum "package-lock.json" }}-{{ checksum "combined-package-lock.txt" }}
            - deps-v1-{{ .Branch }}
            - deps-v1-
      - run:
          name: Install dependencies
          command: npx lerna bootstrap
      - save_cache:
          key: deps-v1-{{ .Branch }}-{{ checksum "package-lock.json" }}-{{ checksum "combined-package-lock.txt" }}
          paths:
            - ./node_modules
            - ./packages/eslint-config/node_modules
            - ./packages/prettier-config/node_modules
            - ./packages/shared/node_modules
            - ./packages/webapp/node_modules
      - run:
          name: Test
          command: npx lerna run test:ci
          environment:
            JEST_JUNIT_OUTPUT_DIR: ../../test-results
      - store_test_results:
          path: ./test-results
workflows:
  build:
    jobs:
      - build
