version: 2.1

orbs:
  common: dailydotdev/common@0.0.14

jobs:
  check-steps:
    type: no-op

  setup-node:
    executor:
      name: common/node
      tag: "22.16"
    steps:
      - common/setup-node

  test-package:
    parameters:
      pkg:
        type: string
      parallelism:
        type: integer
        default: 1
    executor:
      name: common/node
      tag: "22.16"
    parallelism: << parameters.parallelism >>
    steps:
      - common/setup-node
      - run:
          name: Test
          command: |
            TEST=$(./node_modules/.bin/jest --listTests)
            echo $TEST | circleci tests run --command="xargs ./node_modules/.bin/jest --ci --runInBand --reporters=default --reporters=jest-junit --" --split-by=timings
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./test-results
            JEST_JUNIT_ADD_FILE_ATTRIBUTE: "true"
            JEST_JUNIT_FILE_PATH_PREFIX: "/home/circleci/project/packages/<< parameters.pkg >>/"
          working_directory: packages/<< parameters.pkg >>
      - store_test_results:
          path: ./packages/<< parameters.pkg >>/test-results

  lint-package:
    parameters:
      pkg:
        type: string
    executor:
      name: common/node
      tag: "22.16"
    resource_class: small
    steps:
      - common/setup-node
      - run:
          name: Lint
          working_directory: packages/<< parameters.pkg >>
          command: |
            pnpm run lint
workflows:
  build:
    jobs:
      - setup-node
      - lint-package:
          requires:
            - setup-node
          matrix:
            parameters:
              pkg: ["extension", "webapp", "shared"]

      - test-package:
          requires:
            - setup-node
          matrix:
            parameters:
              pkg: ["extension", "webapp", "shared"]
              parallelism: [1]
            include:
              - pkg: "extension"
                parallelism: 1
              - pkg: "webapp"
                parallelism: 2
              - pkg: "shared"
                parallelism: 4
          name: test-package-<< matrix.pkg >>

      - check-steps:
          requires:
            - lint-package
            - test-package
