version: 2.1

jobs:
  install_deps:
    docker:
      - image: cimg/node:18.16.0
    steps:
      - checkout
      - run:
          name: Install pnpm
          command: npm i --prefix=$HOME/.local -g pnpm
      - restore_cache:
          keys:
            - deps-v6-{{ checksum "pnpm-lock.yaml" }}
            - deps-v6-{{ .Branch }}
      - run:
          name: Install dependencies
          command: pnpm install
      - save_cache:
          key: deps-v6-{{ checksum "pnpm-lock.yaml" }}
          paths:
            - ./node_modules
            - ./packages/eslint-config/node_modules
            - ./packages/eslint-rules/node_modules
            - ./packages/prettier-config/node_modules
            - ./packages/shared/node_modules
            - ./packages/webapp/node_modules
            - ./packages/extension/node_modules
  build:
    docker:
      - image: cimg/node:18.16.0
    resource_class: medium+
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-v6-{{ checksum "pnpm-lock.yaml" }}
            - deps-v6-{{ .Branch }}
      - run:
          name: Build
          command: npm run build:chrome
          working_directory: packages/extension
  test:
    docker:
      - image: cimg/node:18.16.0
    resource_class: medium+
    steps:
      - checkout
      - run:
          name: Install pnpm
          command: npm i --prefix=$HOME/.local -g pnpm
      - restore_cache:
          keys:
            - deps-v6-{{ checksum "pnpm-lock.yaml" }}
            - deps-v6-{{ .Branch }}
      - run:
          name: Test
          command: pnpm run -r test:ci
          environment:
            JEST_JUNIT_OUTPUT_DIR: ../../test-results
      - store_test_results:
          path: ./test-results
workflows:
  build:
    jobs:
      - install_deps
      - build:
          requires:
            - install_deps
      - test:
          requires:
            - install_deps
