daily-companion-app {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: 'Helvetica Neue', 'Helvetica', 'Inter', 'Arial', 'Segoe UI', 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'sans-serif';
  position: fixed;
  z-index: 2147483647;
  font-feature-settings: normal !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

daily-companion-app[aria-hidden=true] {
  display: block;
}
