.btn {
  padding: 0.5625rem 1.4375rem;
  border-radius: 0.75rem;
  background: var(--button-background, var(--button-default-background, none));
  border-color: var(--button-border-color, var(--button-default-border-color, transparent));
  color: var(--button-color, var(--button-default-color));
  --loader-color: var(--button-color, var(--button-default-color));

  & .icon {
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
  }

  &.small {
    padding: 0.3125rem 0.9375rem;
    border-radius: 0.625rem;
  }

  &.large {
    padding: 0.8125rem 1.9375rem;
    border-radius: 0.875rem;
  }

  &:not(.iconOnly) {
    & .icon {
      margin-left: -0.5rem;
      margin-right: 0.25rem;

      &:not(:first-child) {
        margin-left: 0.25rem;
        margin-right: -0.5rem;
      }

      &:only-child {
        margin-right: -0.5rem;
      }
    }
  }

  &.iconOnly {
    padding: 0.3125rem;
    border-radius: 0.75rem;

    &.small {
      padding: 0.1875rem;
      border-radius: 0.625rem;
      font-size: 1.5rem;
    }

    &.large {
      padding: 0.4375rem;
      border-radius: 0.875rem;
      font-size: 2rem;
    }

    &.xlarge {
      padding: 0.6875rem;
      border-radius: 1.375rem;
      font-size: 2.5rem;
    }
  }

  &[aria-busy='true'] {
    pointer-events: none;

    & > * {
      visibility: hidden;
    }

    & .btn-loader {
      display: block;
      visibility: unset;
    }
  }

  &:not(:focus-visible) {
    box-shadow: var(--button-box-shadow, var(--button-default-box-shadow, none));
  }

  &[aria-pressed="true"] {
    --button-background: var(--button-pressed-background);
    --button-border-color: var(--button-pressed-border-color);
    --button-color: var(--button-pressed-color);
    --button-box-shadow: var(--button-pressed-box-shadow);
  }

  &:hover, &.hover, &:focus:focus-visible {
    --button-background: var(--button-hover-background);
    --button-border-color: var(--button-hover-border-color);
    --button-color: var(--button-hover-color);
    --button-box-shadow: var(--button-hover-box-shadow);
  }

  &:active {
    --button-background: var(--button-active-background);
    --button-border-color: var(--button-active-border-color);
    --button-color: var(--button-active-color);
    --button-box-shadow: var(--button-active-box-shadow);
  }

  &[disabled] {
    --button-background: var(--button-disabled-background);
    --button-border-color: var(--button-disabled-border-color);
    --button-color: var(--button-disabled-color);
    --button-box-shadow: var(--button-disabled-box-shadow);

    pointer-events: none;
    cursor: default;
  }
}
