.optionalFields {
  &[open] {
    padding-bottom: 0.75rem;
  }
}

.optionalSummary + .sectionHeading {
  margin-top: 0.75rem;
}

.optionalFields + .sectionHeading {
  margin-top: 2.5rem;
}

.sectionHeading + .formSwitch {
  margin-top: -0.25rem;
}
