.postModal {
  & :global(.post-modal-overlay) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    padding: 0;
    overflow-y: scroll;
    z-index: 10;
  }

  & :global(.post-modal) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    border: none;
  }

  & :global(.post-content) {
    @apply bg-theme-bg-primary;

    display: flex;
    flex-direction: col;
    justify-content: center;
    border: none;
    border-radius: 0;
    width: 100vw;
    max-width: 100%;
    padding-bottom: 4rem;

    @screen tablet {
      min-height: calc(100vh - 6rem);
      padding-bottom: 0;
  }

    @screen laptop {
      height: unset;
      width: 63.75rem;
      max-width: 63.75rem;
      border-radius: 1rem;
      border: 1px solid var(--theme-divider-secondary);
    }
  }
}
