.styledModal {
  & :global(.overlay) {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100vh;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background: var(--theme-overlay-quaternary);
    z-index: 10;
  }

  & :global(.modal) {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 26.25rem;
    max-height: 100%;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    background: var(--theme-background-tertiary);
    box-shadow: var(--theme-shadow2);
    border: 1px solid var(--theme-divider-secondary);
    border-radius: 1rem;
  }
}
