@import 'tailwindcss/base.css';
@import './base.css';

@import 'tailwindcss/components.css';
@import './components.css';

@import 'tailwindcss/utilities.css';
@import './utilities.css';

@import './ios.css';
