.focus-outline {
  &:focus {
    outline: none;

    &:focus-visible {
      box-shadow: 0 0 0 0.125rem var(--theme-accent-blueCheese-default);
    }
  }
}

.multi-truncate {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.break-words {
  word-break: break-word;
}
.break-words-overflow {
  overflow-wrap: break-word;
}
