.flag {
  will-change: transform;
  z-index: -1;
  transition: transform 0.1s linear;
}

.raiseLabelContainer:hover .flag,
.flag:hover {
  transform: none;
  z-index: 1;
  transition: transform 0.1s linear, z-index 0.1s step-end;
}