.knob {
  @apply bg-cabbage-40;
  transition-property: transform, width, left;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  left: 0;
  transform: translateX(0);
  animation: slide;
}

.checked {
  left: 1rem;
  transform: translateX(100%);
}

:global(.group):hover .knob {
  @apply bg-cabbage-20;
}

:global(.light) .knob {
  @apply bg-cabbage-60;
}

:global(.light) :global(.group):hover .knob {
  @apply bg-cabbage-80;
}

@media (prefers-color-scheme: light) {
  :global(.auto) .knob {
    @apply bg-cabbage-60;
  }
  
  :global(.auto) :global(.group):hover .knob {
    @apply bg-cabbage-80;
  }
}
