.feedFilters {
  max-width: 100vw;
  border-radius: 0;
  overflow: hidden;

  @screen tablet {
    max-width: 63.75rem;
    border-radius: 16px;
  }
}

.feedFiltersOverlay {
  padding: 0;

  @screen tablet {
    padding: 48px;
    padding-left: 20px;
    padding-right: 20px;
  }
}