.feed {
  grid-template-columns: 100%;
  --num-cards: 1;

  @screen mobileL {
    grid-template-columns: repeat(var(--num-cards), 1fr);

    & > * {
      max-width: 20rem;
    }
  }

  @screen tablet {
    --num-cards: 2;
    grid-auto-rows: 22.75rem;
  }

  @screen laptop {
    --num-cards: 3;
  }

  @screen laptopL {
    --num-cards: 4;
  }

  @screen laptopXL {
    --num-cards: 5;
  }

  @screen desktop {
    --num-cards: 6;
  }

  @screen desktopL {
    --num-cards: 7;
  }
}

.stretcher {
  -webkit-line-clamp: 1;
}

.trigger {
  bottom: 100vh;
}
