@import './variables.css';

.legal {
  & a {
    display: inline-block;
    text-decoration: underline;
    color: inherit;
    @supports (display: contents) {
      display: contents;
    }
  }
}

.pageContainer {
  max-width: $pageMaxWidth;
}

.feedPage {
  padding-top: 3.75rem;

  &.notReady {
    & > * {
      visibility: hidden;
    }
  }
}

.activeTabIndicator {
  border-radius: 0.063rem;
}
