.focus-outline {
  &:focus {
    outline: none;

    &:focus-visible {
      box-shadow: 0 0 0 0.125rem var(--theme-focus);
    }
  }
}

.multi-truncate {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
